/* Style for Login Page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-bottom: 10px;
}

/* Style for Dashboard Page */
.dashboard-container {
    padding: 50px;
    text-align: center;
}

.dashboard-container h1 {
    margin-bottom: 40px;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu .button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: rgb(0, 213, 237);
    text-decoration: none;
    border-radius: 5px;
}

.menu .button.logout {
    background-color: #dc3545;
}

.menu .button:hover {
    background-color: #0056b3;
}

.menu .button.logout:hover {
    background-color: #c82333;
}
